.chatbox {
  width: 686px;
  height: 546px;
  display: flex;
  flex-direction: column;
  background: #C3C3C3;
  border-left: 2px solid #828282;
  border-top: 2px solid #828282;
  border-right: 2px solid #C3C3C3;
  border-bottom: 2px solid #C3C3C3;
}

.guy-logo {
  display: flex;
  align-self: center;
  background: url(../../assets/Guy.svg);
  width: 41px;
  height: 50px;
  margin-bottom: 15px;
}

.logo-container {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: -10px;
}

#lol-text {
  background: url(../../assets/LOL.svg);
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  width: 78px;
  height: 40px;
}

#instant-messenger-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 15px;
}