
.box {
  margin: 8px;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
  border-right: 2px solid #ffffff;
}

.box-content {
  border-left: 2px solid #828282;
  border-top: 2px solid #828282;
  border-bottom: 2px solid #ffffff;
}

