.submit-button-container {
  display: flex;
  justify-content: flex-end;
  background: none;
}

.submit-button--progress {
  display: inline-block;
  border: none;
  height: 83px;
  width: 85px;
  margin-right: 27px;
  margin: 0;
  text-decoration: none;
  background: url(../assets/SendProgressIcon.svg);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.submit-button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: url(../assets/SendIcon.svg);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  height: 83px;
  width: 85px;
  margin-right: 27px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}